* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.7;
}

/* Navbar */
header {
    background: #0b3c5d;
    color: white;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(11,60,93,0.8), rgba(11,60,93,0.8)),
                url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d") center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Sections */
.section {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.section h2 {
    color: #0b3c5d;
    margin-bottom: 15px;
}

.section ul {
    margin-left: 20px;
}

.section li {
    margin-bottom: 8px;
}

.gray {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
}

/* Buttons */
.button-group {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.info-btn {
    background-color: #0b3c5d;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.info-btn:hover {
    background-color: #145a86;
}

/* Content box hidden by default */
.content-box {
    display: none;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Paragraph styling */
.content-box p {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.8;
}

/* Images styling */
.content-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto 30px auto;
    image-rendering: auto;
}


/* Footer */
footer {
    background: #0b3c5d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
